* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header ul {
  text-align: right;
  border-bottom: 1px solid black;
  li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
  }
}

a {
  padding:0px 10px;
  text-decoration: none;
  color: black;
  letter-spacing: 0.05px;
  &:hover {
    font-weight: bold;
    letter-spacing: 0;
  }

  &.active {
    font-weight: bold;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  width: 25%;
  background: gainsboro;
  height: 100vh;
  border-right: 1px solid black;
  box-sizing: border-box;
  h2 {
    padding: 5px;
    margin: 10px;
  }

  li {
    margin: 10px;
    padding: 5px;
    cursor: pointer;
  }
}

h1 {
  text-align: center;
  margin: 20px;
  width: 100%;
}

.items {
  width: 75%;
  word-spacing: 50px;
  .notFound {
    word-spacing: initial;
  }

  .item {
    border-bottom: 1px solid silver;
    text-align: left;
    margin: 25px 50px;
    display: flex;
    padding: 10px;
    h4, p, span {
      width: 25%;
    }
  }
}

form {
  * {
    width: 190px;
    box-sizing: border-box;
    display: block;
    margin: 10px 0;
    padding: 5px;
    outline: none;
  }

  input.danger {
    border-color: red;
  }

  label.danger {
    color:red;
  }
  
}

.add-items, .categories, .statistics, .notFound {
  margin: 20px;
  padding: 20px;
  p {
    margin: 5px auto;
  }

  ul {
    padding: 5px;
    padding-left: 20px;
  }
}

.btn {
  cursor: pointer;
}

.success {
  color: green;
}

.notFound {
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .row, .sidebar {   
      flex-direction: column;
  }

  .sidebar {
    text-align: center;
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
  }
  
  .items {
    width: 100%;
    .item {
      display: inline-block;
      text-align: left;
      h4, p, span {
        margin: 10px;
      }
    }
  }
}